$font-family_1: "TTHoves", "NanumSquare", "나눔스퀘어", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", "돋움", dotum, arial, sans-serif;

/* font */
@font-face {
	font-family: "NanumSquare";
	font-weight: bold;
	src: url(../fonts/NanumSquareOTFBold.woff) format("woff");
}
@font-face {
	font-family: "NanumSquare";
	font-weight: 500;
	src: url(../fonts/NanumSquareOTFRegular.woff) format("woff");
}
@font-face {
	font-family: "TTHoves";
	font-weight: medium;
	src: url(../fonts/TTHoves-Medium.woff) format("woff");
}
@font-face {
	font-family: "TTHoves";
	font-weight: 800;
	src: url(../fonts/TTHoves-DemiBold.woff) format("woff");
}